{% extends 'base.html' %}

{% block title %}Forgot Password | Another E-learning Platform{% endblock %}

{% block content%}
<div class="container">
    <div class="col-md-6 mx-auto my-5">
        <div class="card rounded-0" id="login-form">
            <form class="form" role="form" autocomplete="off" id="forgotPassword" novalidate="" method="POST" action="{% url 'pages:send-reset-password-page' %}">
                {% csrf_token %}
                <div class="card-header">
                    <h3 class="mb-0">Forgot Password?</h3>
                </div>
                <div class="card-body">        
                    <div class="form-group">
                        <label for="id_password">Enter your email address below, and we'll email instructions for setting a new one</label>
                        <input type="text" name="username" autocomplete="" required="" id="id_username" class="form-control form-control-lg"/>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}