<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Change Password | Another E-learning Platform{% endblock %}

{% block content %}
<div>
    <form method='POST' action="{% url "pages:changepassword-page"%}"> {% csrf_token %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <h1>Change Password</h1>
            </div>
            <br>
            <div class="modal-body">
                {% for field in change_password_form %}
                 <div class="form-group">
                    <label for=" {{ field.id_for_label }} ">{{ field.label }}</label>
                    <div class="input-group">
                    {% if field.label != 'Country' %}
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" {% if field.field.max_length %} maxlength="{{ field.field.max_length }}" {% endif %} {% if field.field.autofocus %} autofocus="{{ field.field.autofocus }}" {% endif %} {% if field.id_for_label == "id_email" %}autocomplete="{{ field.autocomplete }}" {% endif %} required="" id="{{ field.id_for_label }}" class="form-control form-control-lg">
                    {% else %}
                        <select name="{{ field.name }}" required="" id="{{ field.id_for_label }}"  class="form-control form-control-lg">
                        {% for value, text in field.field.choices %}
                            <option value="{{ value }}" {% if value == "" %} selected="" {% endif %} >{{ text}}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                    </div>
                    {% if field.help_text %}
                        {% if field.label == 'New password' %}
                        {% for i in field.help_text %}
                            <small class="form-text text-muted ml-2 ml-sm-3 ml-md-5 helptext"><i class="far fa-dot-circle mr-1 mr-sm-2"></i>{{ i }}</small>
                        {% endfor %}
                            <small class="form-text text-muted ml-2 ml-sm-3 ml-md-5 helptext"><i class="far fa-dot-circle mr-1 mr-sm-2"></i>Your password match</small>
                        {% else %}
                            <small id="helptext" class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    {% endif %}
                    {% for error in field.errors %}
                        <small class="alert-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <center>
                    <button type='submit' class="btn btn-success" id="submit" disabled>Change</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                </center>
            </div>
        </div>
    </div>
    </form>
    <input type='hidden' value='{{ change_password_form.user.email}}' id='id_email' />
    <input type='hidden' value='{{ change_password_form.user.first_name }}' id='id_first_name' />
    <input type='hidden' value='{{ change_password_form.user.last_name }}' id='id_last_name' />
    <input type='hidden' value='{{ change_password_form.user.country}}' id='id_country' />
</div>
{% endblock %}s